.input-field {
  width: 100%;
  padding: var(--c-spacing-block-md) var(--c-spacing-inline-md);
  border-radius: var(--border-radius-xs);
  line-height: 1.25;
  font-size: 1rem;
  border: .0625rem solid var(--color-neutral-200);
  box-sizing: border-box;
}