@use './shared/design-tokens' as dt;
@use './shared/layout.scss' as *;
@import 'modern-normalize/modern-normalize.css';

:root {
  --font-family: "Open-Sans", Arial, sans-serif;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include dt.spacings();
  @include dt.borders();
  @include dt.light-mode-colors();

  color: var(--color-text-primary);
  background: var(--color-neutral-800);
}

// Added to ensure override of default User Agent styles
input,
button,
select,
textarea {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.25;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color-text-brand-primary);

  &:hover {
    color: var(--color-text-brand-primary-hover);
  }

  &:active {
    color: var(--color-text-brand-primary-pressed);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dt.dark-mode-colors();
  }
}